.main_container {
  min-height: 75vh;
}

.container_home {
  margin: 1em;
  text-align: center;
}

.card_home {
  margin: 2em auto;
  width: 90vw;
  height: 68vh;
}

.card_home h2 {
  margin-top: 1em;
}

.MuiDialogContent-root.css-ypiqx9-MuiDialogContent-root {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.MuiDialogTitle-root+.css-ypiqx9-MuiDialogContent-root {
  padding-top: 1em!important;
}

.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-formControl.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
  margin: 5px 3px;
}

svg.bi.bi-bar-chart-line {
  display: block;
  margin: 1em auto;
  color: #5d8697;
}

.no_page_container {
  text-align: center;
  align-items: center;
}

.container_navbar {
  background-image: linear-gradient(
    #ebebeb,
    white
  );
  padding: 0.5em;
  box-shadow: -4px -1px 10px 0px black;
}

.container_navbar span {
  color: #1976d2;
}

button.navbar-toggler {
  margin: 0px 0px 0px 36vw
}


@media (max-width: 990px) {
  .container_navbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}